@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #EF7722;
  --color-secondary: #FAA533;
  --color-neutral: #EBEBEB;
  --color-blue: #0BA6DF;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[#FAFAFA] text-gray-900;
  }
}
